body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9cb7d8;
}

.menu {
  position: fixed;
  margin: -20px;
  background-color: #446add;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
  z-index: 1000;
}

.menu-logo {
  height: 25px; 
  margin-top: 5px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.menu ul li {
  margin: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu ul li a i {
  margin-right: 8px;
}

.menu ul li a:hover {
  color: #fff;
  background-color: #092c96;
  border-radius: 8px;
  padding: 10px;
}

.menu ul li a.active {
  color: #fff;
  background-color: #092c96;
  border-radius: 8px;
  padding: 10px;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}


.feed-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feed-post-header {
  display: flex;
  align-items: center;
}

.feed-post-avatar {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.feed-post-user-info h2 {
  margin: 0;
  font-size: 1.2em;
}

.feed-post-user-info p {
  margin: 0;
  color: #777;
}

.feed-post-content {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}
.post-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}


.like-button {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}

.like-button button {
  background-color: #0d46f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.like-button button:hover {
  background-color: #05192f;
}

.like-button .like-count {
  margin-left: 10px;
  font-weight: bold;
  color: #333;
}


@media (max-width: 820px) {

  .menu-logo {
    height: 10px;
    width: auto;
    margin-top: 10px;
  }
  .menu ul li a span {
    display: none;
  }
  .profile-info p {
    font-size: 1.0em;
  }
  
  .profile-form label {
    font-size: 1em;
  }

  .profile-input {
    padding: 8px;
  }


}

.post-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.home-post-container {
  width: 80%;
  max-width: 600px;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-textarea {
  width: 90%;
  height: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}

.post-form textarea.post-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}
.post-form input.post-file-input {
  width: 100%;
  margin-top: 10px;
}

.post-form button.post-submit-button {
  background-color: #305cdd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}

.post-file-input {
  margin-bottom: 20px;
}

.post-submit-button {
  background-color: #305cdd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
}

.post-submit-button:hover {
  background-color: #0d2e91;
  color: #fff;
}

.post-image-preview {
  margin-top: 10px;
}
.post-form button.post-submit-button:hover {
  background-color: #042b9f;
}


.post-image-preview img {
  max-width: 30%;
  border-radius: 8px;
}
.profile-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-info p {
  margin: 10px 0;
  font-size: 1.2em;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-form label {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.profile-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.profile-submit-button, .profile-edit-button {
  background-color: #305cdd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}

.profile-submit-button:hover, .profile-edit-button:hover {
  background-color: #042b9f;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.friends-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.friends-list {
  list-style-type: none;
  padding: 0;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.friend-item:last-child {
  border-bottom: none;
}
.friend-avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  margin-right: 10px;
}

.unfollow-button {
  background-color: #305cdd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
}

.unfollow-button:hover {
  background-color: #0d2e91;
}


.login-container, .register-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form, .register-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  
}

.login-form label, .register-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.login-input:focus {
  border-color: #305cdd;
  outline: none;
  box-shadow: 0 0 5px rgba(48, 92, 221, 0.5);
}


.register-link {
  margin-top: 20px;
  font-size: 14px;
}

.register-link a {
  color: #305cdd;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

